
{ /* ------------------- Header------------------ */  }


.code_header {
  display: flex;
  justify-content: space-around;
  font-family: Helvetica, sans-serif;
  font-size: large;
  background-color: #F0FFED;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #464951;
  align-items: center;
}


.code_header div a {
	color: #464951;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.code_header div a:hover {
  color: #757a88;
}




{ /* ------------------- Array ------------------ */  }


table
{
    border-collapse: collapse;
	text-align : center ;
	margin-left: auto;
	margin-right :  auto;
	width : ...;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}


/*------------------------form---------------------*/
div
{
    width: 400px;
    border: 4px solid black inset;
    margin:auto;
    padding:12px;
    border-radius:10px;
    font-family: helvetica;
    font-size:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #464951;
}


h1
{    
    margin-top:10px;
    text-align: center;
    color: #464951;
}


.adresse
{   
    
    margin-left:52px;
    margin-top:15px;
}

.mdp
{
    margin-left:67px;
    margin-top:15px;
}

.insta
{
    margin-left:13px;
    margin-top:15px;
}


.nom
{
    margin-left:120px;
}

.tel
{
   margin-left:81px;
   margin-top:15px; 
}

.rep
{
    margin-left:92px; 
    margin-top:15px;
}

.question
{
    margin-left:0px; 
    margin-top:10px;
}

body
{
    font-family: helvetica;
}

img
{    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inscription
{
    margin-top:10px;
    margin-left:120px;
}

span
{
    font-size:12px;
}



