.cadre {
 border-width:1px;
 border-style:solid;
 border-color:black;
 position:relative;
 }

.grandcadre {
 border-width:1px;
 border-style:solid;
 border-color:black;
 }

 span
{
	font-size:14px;
}

.connecter
{
	margin-top:10px;
	margin-left:250px;

}

.identifiant
{
	margin-left:0px;
}

#creationpropro {
    width: 1000px;
    
    border: 4px solid black inset;
    margin:auto;
    padding:120px;
    
    margin-top: 10px;
    font-family: helvetica;
    font-size:15px;
    
    margin-left: 250px;

    border: 4px solid black inset;
    margin:auto;
    
    border-radius:10px;
        font-family: helvetica;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #464951;

}

.center {
	
}

#cadrealignement {

	width:600px;
	border:none;
	
}